name: 'dependabot approve-and-request-merge'

on: pull_request_target

jobs:
  worker:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: contentful/github-auto-merge@444341c4254cc5ce1b2c6819e43b4455c7168b79
        with:
          VAULT_URL: ${{ secrets.VAULT_URL }}
